
body{
    background-color: #faf2e4;
    margin: 0 10%;
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
}
h2 {
    color: #d1633c;
    font-size: 1em;
}
.image-container{
    max-width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.logo{
    max-width: 100%;
    height: auto;  
}

.loc{

    border-bottom: 1px solid #57b1dc;
}

.centered-text{
   text-align: center;
}
.socials{

    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.socials > div{

    margin: 0 5px;
}

.socials svg{

    display: block;
    width: 60px;
    height: 60px;
}