<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/static/main.css">
        <title>Black Goose Bistro</title>
    </head>
    <body>
        <div class="image-container">
            <img src="/images/blackgoose.png" alt="Responsive Logo" class="logo"
            srcset="/images/blackgoose2x.png 2x,/images/blackgoose3x.png 3x"
            sizes="(max-width:600px) 100vw,
                    (max-width:1200px) 50vw,600px">
        </div>
        <h1>Black Goose Bistro</h1>
        <h2>The Restaurant</h2>
        <p>The Black Bistro Restaurant offers casual lunch and dinner tare in a relaxed atmosphere.The menu 
            to highlight freshest local ingredients.
        </p>
        <h2>Catering</h2>
        <p>You have fun, We'll <em>handle the cooking.</em>Black Goose Catering handle events from snacks for
        a meetup to elegant corporate fundraisers</p>
        <h2>Location and Hours</h2>
        <p>Seekonk, Massachusets</p>
        <p>Monday through Thursday 11am to 9pm &semi;</p>
        <p>Friday and Saturday, 11am to Midnight</p>
    </body>
</html>